# Node.js
node_modules/
dist/
build/
.env
*.log
*.tmp

# Vite/Next.js/Turbo
.next/
.turbo/

# VS Code
.vscode/

# OS/Editor
.DS_Store
Thumbs.db

# Test/coverage
coverage/

# Others
*.sqlite
*.zip
*.tar
*.gz
*.lock
